*{
	margin: 0px;
}
a{
	text-decoration: none;
}

.header{
	height: 500px;
	overflow: hidden;
	opacity: 0.9;
	
}

.header-bg{
	width: 1400px;
	transition: all 700ms;
}

.header-bg:hover{
	transform: scale(1.2);
}

.header-capt{
	border:4px solid white;
	border-radius: 10px;
	position: absolute;
	left: 45%;
	top: 350px;
	align-self: center;
	font-family: 'Monserrat', sans-serif;
	color: white;
	opacity: 0.8;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	transition:all 500ms;
}

.header-capt:hover{
	transform: scale(1.2);
	background-color: white;
	color: black;
}

.header-foot{
	top: 500px;
	position: absolute;
	width: 100%;
	height: 20px;
	background-color: rgb(173, 173, 173); 	
  	box-shadow: 0px 3px 10px 0.1px black;
}